*{
    display: border-box;
    margin: 0px;
    padding:0;
    font-family: 'Roboto';
}

a{
    text-decoration: none;
    color: #e5e7eba5;
}

body > *{
    padding-left: 200px;
    padding-right: 200px;
}

.header,
.footer{
    height: 64px;
}

.main,
.body,
.quote{
    height: 400px;
}

.header{
    display: flex;
    background-color: #1F2937;
}

.nav-bar,
.header-logo{
    flex: 1 1 100%;
}

.header-logo{
    padding-top: 10px;
    color: #F9FAF8;
    font-size: 24px;
}

.nav-bar{
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: flex-end;
}

.main{
    display: flex;
    background-color: #1F2937;
    padding-top: 65px;
    padding-bottom: 65px;
}

.main-text{
    display: flex;
    flex-direction:column;
    width: 50%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.main-text > h1{
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    width: 100%;
}

.main-text > p{
    width: 100%;
    font-size: 18px;
    color: #e5e7eba5;
}

.main-image{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.main-text > button{
    display: inline-block;
    text-decoration: none;
    background-color: #3882F6;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border:none;
    padding: 5px 20px;
}

.body{
    display: flex;
    padding-top: 50px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items:center;
}

.body-title{
    padding-bottom: 50px;
}

.body-list{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 50px;
    text-align: center;
}

.melee,
.ranged,
.magic,
.summoner{
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

.melee{
    border: 5px solid orangered;
}

.ranged{
    border: 5px solid #18ffff;
}

.magic{
    border: 5px solid #8e41fd;
}

.summoner{
    border: 5px solid #089cfe;
}

.body-list li p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.body-list li em{
    color: rgba(0, 0, 0, 0.363);
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote .message{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote .name{
    width: 100%;
    text-align: right;
    font-size: 18px;
    padding-top: 15px;
}

.button-container{
    height: 300px;
}

.container{
    width:100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
}

.news-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 3;
    padding-left: 100px;
    padding-right: 100px;
}

.button{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}





